<div class="content">
  <h1>Hello World!!!</h1>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius voluptatum debitis beatae quisquam iste dolore quis amet quod ipsa consequuntur corrupti, porro culpa assumenda, alias officiis sapiente perferendis, adipisci distinctio?</p>
</div>

<div class="content">
  <h2>idea a secundaria</h2>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi nostrum facere, omnis doloremque inventore quasi! Voluptate tenetur adipisci, neque recusandae dolorem reiciendis ab ad illum maxime pariatur, numquam consequatur repudiandae.</p>
</div>

<div class="content">
  <h3>idea a secundaria 2</h3>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid ut, quasi ipsam autem dignissimos nam quisquam sint impedit, quos placeat sapiente eius assumenda delectus culpa, doloremque nesciunt iure laudantium inventore.</p>
</div>

<div class="contenedor">
  <div class="elemento">
    <h3>Tiitulo 1</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam similique qui, voluptatum magni ullam commodi quibusdam, eum facilis iure quod officiis nobis omnis minima totam id aspernatur culpa ipsa reiciendis?</p>
    <button class="boton">Click Me</button>
  
  </div>
  <div class="elemento">
    <h3>Tiitulo 2</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam similique qui, voluptatum magni ullam commodi quibusdam, eum facilis iure quod officiis nobis omnis minima totam id aspernatur culpa ipsa reiciendis?</p>
    <button class="boton">Click Me</button>
  </div>
  <div class="elemento">
    <h3>Tiitulo 3</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam similique qui, voluptatum magni ullam commodi quibusdam, eum facilis iure quod officiis nobis omnis minima totam id aspernatur culpa ipsa reiciendis?</p>
    <button class="boton">ACEPTAR</button>
  </div>
</div>
<router-outlet />